{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Appointment (Not Functioning Yet)</legend>
        </fieldset>
        <form>
            <label>Enter your Student ID:
                <input type="text" name="user">
            </label>
            <label>Choose your preferred meeting date:
                <input type="date" name="appointment">
            </label>
            <br>
            <p>
                <button>Submit</button>
            </p><br><br>
            <div class="col-md-4">
                <a href="{% url 'blog-home' %}" class="btn btn-primary btn-lg btn-block btn-huge">Back</a>
            </div>
        </form>
    </div>
{% endblock content %}