{% extends "blog/base.html" %}
{% block content %}
    <div class="main">
        <h2 class="my-4">Lecturer's Profile</h2>
        <ul>
            <a>Name              : B</a>
        </ul>
        <ul>
            <a>Profile Picture   : <br><br><br><br><br><br><br></a>
        </ul>
        <ul>
            <a>Email             : sirb@kdu-online.com</a>
        </ul>
        <ul>
            <a>Academic Position : Academic Consultant</a>
        </ul>
        <ul>
            <a>Major             : Mathematics</a>
        </ul>
        <ul>
            <a>Research          : Calculus</a>
        </ul>
        <ul>
            <a>Current Project   : History of Mathematics</a>
        </ul> 
        <ul>
            <a>Lectures          : Calculus, Mathematics 1, Mathematics 2</a>
        </ul>
        <ul>
            <a>Area of interest  : Mathematics</a>
        </ul><br><br>
        <div class="col-md-4">
            <a href="{% url 'lprofile' %}" class="btn btn-primary btn-lg btn-block btn-huge">Back</a>
        </div>
    </div>
{% endblock content %}